
/.cache
/build
/public/build
/node_modules

/functions/\[\[path\]\].js
/functions/\[\[path\]\].js.map
/functions/metafile.*
/functions/version.txt

/volumes
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/coverage
/prisma/migration

.env.*
*.db
*.db-journal